<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand p-0">
    <img
      src="../assets/images/srims-logo.png"
      alt="SRIMS"
      class="logo ms-3"
      height="40"
      width="150"
    />
  </a>

  <!-- Desktop-only language toggle -->
  <div class="d-none d-lg-flex align-items-center text-white-50 ms-3">
    <span class="small me-2" [class.text-white]="!isEnglish">DE</span>
    <div class="form-check form-switch m-0 p-0 d-flex align-items-center" style="min-height: auto;">
      <input
        class="form-check-input m-0 cursor-pointer"
        type="checkbox"
        role="switch"
        id="langSwitchDesktop"
        [checked]="isEnglish"
        (change)="onLanguageToggle($event)"
        style="width: 2.5em; height: 1.25em;">
    </div>
    <span class="small ms-2" [class.text-white]="isEnglish">EN</span>
  </div>

  <button class="navbar-toggler ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto align-items-end align-items-lg-center pe-3 pe-lg-0 me-lg-3 pt-3 pt-lg-0">
      <li class="nav-item d-flex d-lg-none align-items-center me-lg-2 mb-1 mb-lg-0 text-white-50">
        <span class="small me-2" [class.text-white]="!isEnglish">DE</span>
        <div class="form-check form-switch m-0 p-0 d-flex align-items-center" style="min-height: auto;">
          <input
            class="form-check-input m-0 cursor-pointer"
            type="checkbox"
            role="switch"
            id="langSwitch"
            [checked]="isEnglish"
            (change)="onLanguageToggle($event)"
            style="width: 2.5em; height: 1.25em;">
        </div>
        <span class="small ms-2" [class.text-white]="isEnglish">EN</span>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto align-items-end align-items-lg-center pe-3 pe-lg-0 me-lg-3">
      @if (!authService.isLoggedIn()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">{{ 'COMMON.LOGIN' | translate }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">{{ 'COMMON.REGISTER' | translate }}</a>
        </li>
      }
      @if (authService.isLoggedIn()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="authService.logoutUser()">{{ 'COMMON.LOGOUT' | translate }}</a>
        </li>
      }
    </ul>
  </div>
</nav>
