<div class="container pt-4">

  <div class="d-flex flex-wrap align-items-center gap-2 mb-4">
    <button class="btn btn-outline-secondary me-3 text-nowrap" (click)="back()">
      ← {{ 'STAFF.RESET_PASSWORD.BACK' | translate }}
    </button>
    <h1 class="display-4 mb-0">{{ 'STAFF.RESET_PASSWORD.TITLE' | translate }}</h1>
  </div>

  <div class="card shadow-sm">
    <h3 class="card-header bg-light mb-0 fw-bold">{{ 'STAFF.RESET_PASSWORD.TITLE' | translate }}</h3>

    <div class="card-body">
      <p class="text-muted">{{ 'STAFF.RESET_PASSWORD.DESC' | translate }}</p>

      <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="email">{{ 'COMMON.EMAIL' | translate }}</label>
          <input type="email" name="email" formControlName="email" class="form-control" id="email"
                 placeholder="{{ 'STAFF.RESET_PASSWORD.EMAIL_PLACEHOLDER' | translate }}">

          @if (submitted && resetForm.controls.email.errors) {
            <div class="error">
              @if (resetForm.controls.email.errors.required) {
                <small class="form-text text-danger">{{ 'COMMON.EMAIL_REQUIRED' | translate }}</small>
              }
              @if (resetForm.controls.email.errors.email) {
                <small class="form-text text-danger">{{ 'COMMON.EMAIL_INVALID' | translate }}</small>
              }
            </div>
          }
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-success">
            {{ 'STAFF.RESET_PASSWORD.SEND' | translate }}
          </button>
        </div>

      </form>
    </div>
  </div>

</div>
